<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793738107822-c0p4o6jfd59insjhf4gqbqm1h3nmcaeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793738107822-c0p4o6jfd59insjhf4gqbqm1h3nmcaeu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>793738107822-to57r3v38dbo40m8575bbcecsgrjhpvi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4TLorW1xqteJPr97TqmNd_-aTfacC7tQ</string>
	<key>GCM_SENDER_ID</key>
	<string>793738107822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iwealth.app</string>
	<key>PROJECT_ID</key>
	<string>iwealth-by-norrenberger</string>
	<key>STORAGE_BUCKET</key>
	<string>iwealth-by-norrenberger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793738107822:ios:790b414c1d727e99e1863f</string>
</dict>
</plist>